* {
	padding: 0;
	margin:0;
}
body {
	min-width: 1200px;
}
#nav {
	position: relative;
	width: 100%;
	height: 60px;
	background: #000;
}
#nav a {
	display: block;
	position:absolute;
	width:150px;
	height:inherit;
}
#logo {
	margin: 5px 0 0 30px;
	background:url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#nav ul {
	position:absolute;
	width: auto;
	height :inherit;
	right: 80px;
	list-style: none;
}
#nav ul li {
	display: inline;
	width: 100px;
	height: inherit;
	float: left;
}
#nav ul li a {
	display: inline-block;
	width: 100px;
	color: #fff;
	line-height: 55px;
	text-align: center;
	text-decoration: none;
}

#nav ul li a:hover{
	background: #ae0000;
}
#main {
	position: relative;
	margin: 30px auto;
	width: 1100px;
	height: 3100px;
}
#right {
	position: absolute;
	width: 250px;
	right: 0px;
	padding: 20px;
	border: solid 1px #000;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 #000;
}
#right form input[type=text] {
	display: block;
	width: 100%;
	height: 40px;
	margin: 20px auto;
	border: solid 1px #cfcfcf;
	border-radius: 5px;
}
#right form p {
	margin: 10px auto;
}
#signup_button {
	display: block;
	margin: 10px auto;
	width: 80px;
	height: 30px;
	background: #f77825;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #aeae00;
}
#left {
	position: absolute;
	padding: 20px;
	width: 750px;
	border: solid 1px #000;
	box-shadow: 0 0 10px 0 #000;
}
#left div {
	margin-bottom: 30px;
	border: solid 2px #cfcfcf;
	padding: 20px 10px;
	border-radius: 5px;
	box-shadow: 0 10px 6px -6px #000;
}
#left .article_info {
	margin: 20px 0;
}
#left .article_img {
	display: block;
	float: left;
	margin: 20px;
} 
#left ul {
	margin: 20px 0;
	width: 400px;
	float: right;
}
#left ul li {
	margin: 20px 0;
	text-align: left;
}
#photo {
	padding: 20px;
	border: solid 2px #cfcfcf;
	border-radius: 5px;
	box-shadow: 0 10px 6px -6px #000;
}
#photo p {
	margin: 20px 0px;
	width: 350px;
	float: left;
	text-align: center;
}
/*清除浮动*/
#photo::after {
	content: "";
	display: block;
	clear:both;
}
#photo p a {
	display: block;
	margin: 0 auto;
	width: 250px;
}
#last ol {
	margin-left: 20px;
	margin-bottom: 20px;
	width: 100px;
}
#last table {
	margin: 10px 0;
	width: 100%;
	text-align: center;
	border: solid 1px #cfcfcf;
}
#last table tr td{
	border-bottom: solid 1px #cfcfcf;
}
#last table tr:last-child {
	background: #cfcfcf;
}
#last table tr th {
	color: #fff;
	background: #333;

}
#bottom {
	width: 100%;
	height: 50px;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
}