* {
	margin: 0px;
	padding: 0px;
}
#main {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0px -200px;
	width: 400px;
	height: 200px;
	overflow: hidden;
	background: #ccc;
}
#main #left_top {
	position: absolute;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
	background: #fc0;
	border-bottom-right-radius: 50%;
}
#main #right_bottom {
	position: absolute;
	bottom: -50px;
	right: -50px;
	width: 100px;
	height: 100px;
	background: #fc0;
	border-top-left-radius: 50%;
}